/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*General*/
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
/* SideBarSection*/
.side-bar-section {
  display: inline-block;
  background-color: #44475a;
  height: 100vh;
  width: 10vw;
}

.menu-section {
  padding: 2rem 1rem;
}

.menu-icon {
  filter: invert();
  font-size: 1.4rem;
}

.menu-font {
  font-size: 1.2rem;
}

.menu-font:nth-of-type(1) {
  color: #66d9ef;
}

/*InitabSection*/
.initab-section {
}
